/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        SYM_N {
            bindings = <&kp N>;
            key-positions = <7 9>;
        };

        SYM_T {
            bindings = <&kp T>;
            key-positions = <6 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp N0  &kp N1  &kp N2  &none
&kp F   &kp C   &kp B   &kp H
                        &kp BSPC  &kp SPACE
            >;
        };
    };
};
